@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the primary blog!</h1>
    <p>Read more by <a href="https://thetahayaseen.pythonanywhere.com/">visiting my django site.</a>.</p>
</div>
